.box{
    border: solid;
    margin: 3px;
    padding: 5px;
    text-align: justify;
}
h1{
    text-align: center;
}

/* !! order for max-width -> large to small */

@media only screen and (max-width: 1024px) {    /* for tablets */
    body{
        background-color: rgba(1, 109, 1, 0.61);
        font-size: 14px;
    }
    .container{
        display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
        
    }
    #small{
        flex-basis: 60%;
    }
    #medium{
        flex-basis: 30%;
    }
    #large{
        flex-basis: 100%;
    }
    /*  exercise 2 - display/hide elements

    #small{
        display: none;
    }
    #medium{
        display: block;
    }
    #large{
        display: none;
    }
    */
}

@media only screen and (max-width: 480px) {     /* for smartphones */
    body{
        background-color: rgb(153, 45, 45);
        font-size: 10px;
    }
    .container{
        display: flex;
        flex-direction: column;
    }
    
    /*
    #small{
        display: block;
    }
    #medium{
        display: none;
    }
    #large{
        display: none;
    }
    */
}
@media only screen and (min-width: 1024px) {    /* for computers */
    body{
        background-color: rgb(56, 56, 126);
        font-size: 20px;
    }
    .container{
        display: flex;
        
    }
    
    /*
    #small{
        display: none;
    }
    #medium{
        display: none;
    }
    #large{
        display: block;
    }
    */
}